@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@700&display=swap');

.container{
    background-color:white;
    border-radius: 5px;
    margin-top: 50px;
    padding: 20px;
}
h1{
    font-family: 'Work Sans', sans-serif;
    padding-bottom: 10px; 
    text-align: center; 
    color: #ff5e5b;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
}
button{
    display: block;
    border-radius: 5px;
    background-color: #00cecb;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
button:hover {
    background-color: #ffed66;
    color: #0d1321;
}
button:focus {
    outline:none;
}
.time{
    text-align: center;
    color: lightpink;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
}